form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.form-container {
    width: 100%;
}

label {
    color: black;
}

button {
    color: white;
    background-color: black;
}

.submit {
    background-color: black;
}


textarea {
    width: 95%;
}
